In [1]:

import numpy as np
import pandas as pd
import os
#os.chdir('C:\\Users\\caneu\\Downloads')
sample_data = pd.read_excel('past_four_womens_data.xlsx')

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
sample_data.head()

,Unnamed: 0,player.id,player.externals,player.name,player.normalized,player.jersey,player.image,player.position,player.foreign_id,player.height,player.weight,player.hometown,player.prior,player.birthdate,player.country,player.active,player.is_team,player.persona,boxscore.derived.atr,boxscore.derived.atra,boxscore.derived.assisted,boxscore.minutes,boxscore.fgm,boxscore.fga,boxscore.fgm3,boxscore.fga3,boxscore.ft,boxscore.fta,boxscore.pts,boxscore.rebso,boxscore.rebsd,boxscore.rebs,boxscore.ast,boxscore.to,boxscore.stl,boxscore.blk,boxscore.fouls,boxscore.seconds,boxscore.plus_minus,calculated.efg,calculated.orr,calculated.ftr,calculated.tov,calculated.fg_perc,calculated.fg3_perc,calculated.fg2_perc,calculated.ft_perc,calculated.fg3_par,calculated.pps,calculated.pps_noft,calculated.true_shooting,calculated.usage,calculated.assist_percentage,calculated.ato,calculated.atr_made,calculated.atr_attempts,calculated.atr_percentage,calculated.atr_rate,calculated.three_made,calculated.three_attempts,calculated.three_percentage,calculated.three_rate,calculated.mid_made,calculated.mid_attempts,calculated.mid_percentage,calculated.mid_rate,calculated.assisted_percentage,calculated.num_games,calculated.possessions,team_id,season_id,league_id
0,0,14536,[],"Bonnarens, Jamie",JAMIE BONNARENS,12,https://cdn.pivotanalysis.app/media/images/pla...,F,1844989,72.0,0,"Cache, Oklahoma",Cache HS,NaN,US,1,0,NaN,66,133,88,775.48,138,320,63,154,42,50,381,47,69,116,41,35,21,5,50,46528,83,0.529687,0.071708,0.131250,0.092838,0.431250,0.409091,0.451807,0.840000,0.481250,1.190625,1.059375,0.557018,0.241782,0.123305,1.171429,66,133,0.496,0.416,63,154,0.409,0.481,9,33,0.273,0.103,0.638,24,1298.3808,175,658,2
1,1,2869,[],"Miller, Madi",MADI MILLER,31,https://cdn.pivotanalysis.app/media/images/pla...,G,2087182,69.0,0,"Wylie, Texas",Wylie HS,NaN,US,1,0,NaN,43,70,35,762.16,86,195,41,116,48,63,261,29,77,106,83,59,28,4,65,45731,32,0.546154,0.045019,0.246154,0.209428,0.441026,0.353448,0.569620,0.761905,0.594872,1.338462,1.092308,0.585938,0.183833,0.220494,1.406780,43,70,0.614,0.359,41,116,0.353,0.595,2,9,0.222,0.046,0.407,26,1275.1104,175,658,2
2,2,11208,[],"Barber, Tatum",TATUM BARBER,23,https://cdn.pivotanalysis.app/media/images/pla...,G,1957254,70.0,0,"Argyle, Texas",Liberty Christian HS,NaN,US,1,0,NaN,54,105,31,717.93,77,192,18,73,68,95,240,29,123,152,51,61,41,1,65,43075,33,0.447917,0.047792,0.354167,0.206920,0.401042,0.246575,0.495798,0.715789,0.380208,1.250000,0.895833,0.513259,0.204220,0.142223,0.836066,54,105,0.514,0.547,18,73,0.247,0.380,5,14,0.357,0.073,0.403,26,1197.6192,175,658,2
3,3,2870,[],"Mraz, Kamryn",KAMRYN MRAZ,0,https://cdn.pivotanalysis.app/media/images/pla...,G,2087179,67.0,0,"Little River, Texas",Academy HS,NaN,US,1,0,NaN,14,36,36,681.57,55,149,41,112,21,31,172,19,56,75,73,56,24,3,52,40895,-2,0.506711,0.032983,0.140940,0.256129,0.369128,0.366071,0.378378,0.677419,0.751678,1.154362,1.013423,0.528775,0.159541,0.203609,1.303571,14,36,0.389,0.242,41,112,0.366,0.752,0,1,0.000,0.007,0.655,24,1145.0112,175,658,2
4,4,149175,[],"Earle, Bella",BELLA EARLE,3,https://cdn.pivotanalysis.app/media/images/pla...,G,2625401,70.0,0,"Corinth, Texas",Denton Guyer HS,NaN,US,1,0,NaN,38,70,42,594.38,66,148,26,72,33,39,191,36,69,105,58,67,15,6,34,35662,26,0.533784,0.071661,0.222973,0.288594,0.445946,0.361111,0.526316,0.846154,0.486486,1.290541,1.067568,0.578227,0.194257,0.196857,0.865672,38,70,0.543,0.473,26,72,0.361,0.486,2,6,0.333,0.041,0.636,26,1003.9296,175,658,2

In [3]:
#converting to year
sample_data['season_id'] = sample_data['season_id'] + 1364

In [4]:
sample_data['player&season'] = sample_data['player.name'] +' '+ sample_data['season_id'].astype('string')

# Using only relevant columns

In [5]:
sample_data = sample_data[[
       'player.id','player.normalized','player&season', 'boxscore.pts',
        'boxscore.rebso', 'boxscore.rebsd', 'boxscore.ast',
       'boxscore.rebs','boxscore.fta','boxscore.fga',
       'boxscore.to', 'calculated.pps_noft',
       'calculated.true_shooting', 'calculated.usage','calculated.atr_attempts',
       'calculated.atr_rate','calculated.three_rate','calculated.three_attempts',
       'calculated.mid_rate', 'calculated.mid_attempts','calculated.assisted_percentage','calculated.possessions']]

# Converting to stats per 100

In [7]:
for num in range(0,sample_data.shape[0]):
   sample_data.loc[num,['boxscore.pts','boxscore.rebso', 'boxscore.rebsd', 'boxscore.ast','boxscore.rebs','boxscore.fta','boxscore.fga','boxscore.to'] ] = sample_data[['boxscore.pts','boxscore.rebso', 'boxscore.rebsd', 'boxscore.ast','boxscore.rebs','boxscore.fta','boxscore.fga','boxscore.to']].loc[num].div(sample_data['calculated.possessions'].loc[num]).mul(100)

# Creating points per shot stat

In [8]:
for num in range(0, sample_data.shape[0]):
    #sample_data.shape[0]
    #.div(sample_data.loc[num, ['calculated.atr_attempts']])
    sample_data.loc[num, 'calculated.atr_attempts'] = sample_data.loc[num, 'calculated.atr_attempts'] * (sample_data.loc[num, 'calculated.atr_rate']) * 2 / sample_data.loc[num, 'calculated.atr_attempts']

C:\Users\caneu\AppData\Local\Temp\ipykernel_22060\3557913129.py:4: RuntimeWarning: invalid value encountered in double_scalars
  sample_data.loc[num, 'calculated.atr_attempts'] = sample_data.loc[num, 'calculated.atr_attempts'] * (sample_data.loc[num, 'calculated.atr_rate']) * 2 / sample_data.loc[num, 'calculated.atr_attempts']

In [9]:
for num in range(0, sample_data.shape[0]):
    #sample_data.shape[0]
    #.div(sample_data.loc[num, ['calculated.atr_attempts']])
    sample_data.loc[num, 'calculated.mid_attempts'] = sample_data.loc[num, 'calculated.mid_attempts'] * (sample_data.loc[num, 'calculated.mid_rate']) * 2 / sample_data.loc[num, 'calculated.mid_attempts']

C:\Users\caneu\AppData\Local\Temp\ipykernel_22060\3332595068.py:4: RuntimeWarning: invalid value encountered in double_scalars
  sample_data.loc[num, 'calculated.mid_attempts'] = sample_data.loc[num, 'calculated.mid_attempts'] * (sample_data.loc[num, 'calculated.mid_rate']) * 2 / sample_data.loc[num, 'calculated.mid_attempts']

In [10]:
for num in range(0, sample_data.shape[0]):
    #sample_data.shape[0]
    #.div(sample_data.loc[num, ['calculated.atr_attempts']])
    sample_data.loc[num, 'calculated.three_attempts'] = sample_data.loc[num, 'calculated.three_attempts'] * (sample_data.loc[num, 'calculated.three_rate']) * 3 / sample_data.loc[num, 'calculated.three_attempts']

C:\Users\caneu\AppData\Local\Temp\ipykernel_22060\2486480934.py:4: RuntimeWarning: invalid value encountered in double_scalars
  sample_data.loc[num, 'calculated.three_attempts'] = sample_data.loc[num, 'calculated.three_attempts'] * (sample_data.loc[num, 'calculated.three_rate']) * 3 / sample_data.loc[num, 'calculated.three_attempts']

# Creating shot type per 100 stat

In [11]:
for num in range(0,sample_data.shape[0]):
    sample_data.loc[num, ['calculated.atr_rate', 'calculated.three_rate', 'calculated.mid_rate']] = sample_data.loc[num, ['calculated.atr_rate', 'calculated.three_rate', 'calculated.mid_rate']].mul(sample_data.loc[num, 'boxscore.fga'])

# Renaming all columns

In [12]:
sample_data.columns = ['player.id', 'player.name','player&season', 'ppp_100', 'oreb_100',
       'dreb_100', 'ast_100', 'tot_reb_100', 'fta_100',
       'fga_100', 'tov_100', 'pps_noft',
       'true_shooting', 'usage','rim_pps', 'rim_100',
       'three_100', 'three_pps','mid_100', 'mid_pps',
       'assisted_percentage', 'possessions']

In [41]:
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16353 entries, 0 to 16352
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   player.id            16353 non-null  int64
 1   player.name          16353 non-null  object
 2   ppp_100              16274 non-null  float64
 3   oreb_100             16270 non-null  float64
 4   dreb_100             16275 non-null  float64
 5   ast_100              16267 non-null  float64
 6   tot_reb_100          16279 non-null  float64
 7   fta_100              16269 non-null  float64
 8   fga_100              16284 non-null  float64
 9   tov_100              16274 non-null  float64
 10  pps_noft             16353 non-null  float64
 11  true_shooting        16353 non-null  float64
 12  usage                16353 non-null  float64
 13  rim_pps              13518 non-null  float64
 14  rim_100              16182 non-null  float64
 15  three_pps            16268 non-null  float64
 16  three_100            13280 non-null  float64
 17  mid_pps              16182 non-null  float64
 18  mid_100              11927 non-null  float64
 19  assisted_percentage  16353 non-null  float64
 20  possessions          16353 non-null  float64
dtypes: float64(19), int64(1), object(1)
memory usage: 2.6+ MB

In [13]:
sample_data.describe()

,player.id,ppp_100,oreb_100,dreb_100,ast_100,tot_reb_100,fta_100,fga_100,tov_100,pps_noft,true_shooting,usage,rim_pps,rim_100,three_100,three_pps,mid_100,mid_pps,assisted_percentage,possessions
count,13811.000000,1.377000e+04,1.376900e+04,1.377200e+04,1.376900e+04,1.377200e+04,1.376900e+04,1.377100e+04,1.377100e+04,13811.000000,13811.000000,13811.000000,12499.000000,1.374900e+04,1.376800e+04,11571.000000,1.374900e+04,11847.000000,13811.000000,13811.000000
mean,45259.500760,inf,inf,inf,inf,inf,inf,inf,inf,0.819617,0.444942,0.186485,1.020955,inf,inf,1.149594,inf,0.379987,0.504464,687.452087
std,48921.997003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.308006,0.149598,0.066279,0.469246,NaN,NaN,0.733048,NaN,0.242413,0.252023,520.155981
min,2560.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.040000,0.000000e+00,0.000000e+00,0.006000,-9.202002e+00,-3.000000,0.000000,0.000000
25%,7653.000000,1.125432e+01,1.163094e+00,4.448152e+00,1.664217e+00,6.072257e+00,2.241300e+00,1.199494e+01,3.216405e+00,0.715557,0.395799,0.145982,0.664000,3.920386e+00,8.898046e-01,0.570000,9.337172e-01,0.202000,0.357000,201.216000
50%,24663.000000,1.607958e+01,2.464511e+00,6.248216e+00,2.840651e+00,8.845068e+00,4.037468e+00,1.575313e+01,4.367620e+00,0.857143,0.464660,0.182768,0.986000,6.956812e+00,4.623009e+00,1.107000,2.235460e+00,0.334000,0.519000,627.532800
75%,96765.000000,2.143029e+01,4.351610e+00,8.592776e+00,4.412346e+00,1.276544e+01,6.229865e+00,1.979528e+01,5.670458e+00,0.979592,0.521433,0.224100,1.368000,1.050740e+01,8.284183e+00,1.635000,3.943385e+00,0.502000,0.667000,1100.198400
max,166745.000000,inf,inf,inf,inf,inf,inf,inf,inf,3.000000,1.500000,2.023720,5.000000,inf,inf,3.000000,inf,1.870000,1.000000,2413.017600

# Cleaning data

In [14]:
data = sample_data[sample_data['possessions'] >= 150]
data = data.dropna()

In [15]:
data.shape

(9587, 22)

In [16]:
data.to_excel('womens_data_lastfour_cleaned.xlsx')